{% extends 'layout.html' %}

{% block title %}Шифр Цезаря{% endblock %}

{% block content %}
    <div class="container" ng-controller="CaesarController">

        <div class="line-header">
            <h1>Шифр Цезаря</h1>
            <p>Схема шифрования очень проста - используется сдвиг буквы алфавита на фиксированное число позиций.
                Используемое преобразование обычно обозначают как ROTN, где N - сдвиг,
                ROT - сокращение от слова ROTATE, в данном случае "циклический сдвиг".</p>
            <p>Преобразуются только английские буквы. Все остальные символы - не меняются.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 margin25">
                <form action="index" method="post" name="codingForm" novalidate onsubmit="return false;">
                    {% csrf_token %}
                    <div class="col-lg-5 col-md-5" ng-class="{ 'has-error': codingForm.original_text.$touched && codingForm.original_text.$invalid }">
                        <textarea name="original_text" id="original_text" ng-change="find_key()" class="form-control not-resizable" placeholder="Введите текст для шифрования/дешифрования" rows="15" ng-model="main.original_text" required></textarea>
                        <div class="help-block" ng-messages="codingForm.original_text.$error" ng-if="codingForm.original_text.$touched">
                            <p ng-message="required">Поле должно быть заполнено</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="input-group" ng-class="{ 'has-error': codingForm.rot.$touched && codingForm.rot.$invalid }">
                            <div class="input-group-addon rot-label">ROT</div>
                            <input type="number" class="form-control" id="rot" name="rot" ng-model="main.rot" required>
                        </div>
                        <div class="help-block" ng-messages="codingForm.rot.$error" ng-if="codingForm.rot.$touched || codingForm.$submitted">
                            <p ng-message="required">Поле должно быть заполнено</p>
                        </div>

                        <div class="margin25">
                            <button type="button" ng-disabled="!codingForm.$valid" ng-click="load($event)" id="encode" name="encode" class="center-block btn btn-default">Кодировать</button>
                            <button type="button" ng-disabled="!codingForm.$valid" ng-click="load($event)" id="decode" name="decode" class="center-block btn btn-default">Декодировать</button>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        {# <fieldset disabled> #}
                            <textarea readonly="readonly" name="modified_text" id="modified_text" class="form-control not-resizable" rows="15">{$ text $}</textarea>
                        {# </fieldset> #}
                    </div>


                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 margin25">
                <div id="myChartContainer">
                    <canvas id="myChart" height="70px"></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-push-2 col-md-push-2 center-block margin25">
                <div ng-if="guess_rot" class="my-tooltip">
                    <span>Возможно Вы были невнимательны и ошиблись в выборе ROT. Если у Вас не получилось дешифровать
                        текст, то попробуйте установить <span>ROT {$ guess_rot $}</span></span>
                </div>
            </div>
        </div>


    </div>

{% load staticfiles %}
<script src="{% static "js/caesar.js" %}"></script>

{% endblock %}