<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>

    {% load staticfiles %}
    <!-- jQuery -->
    <script src="{% static "js/jquery/jquery-1.12.2.min.js" %}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
    <!-- AngularJS -->
    <script src="{% static "js/angular/angular.min.js" %}"></script>
    <script src="{% static "js/angular/angular-messages.min.js" %}"></script>
    <!-- Chart -->
    <script src="{% static "js/chart/chart.min.js" %}"></script>
    <script src="{% static "js/angular/angular-chart.min.js" %}"></script>
    <link href="{% static "css/angular/angular-chart.min.css" %}" rel="stylesheet">
    <!-- My style -->
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}">
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>